    <!-- <script src="/tailwind.js"></script> -->
    
    <script src="/assets/teacher/js/main.js"></script>

    <script src="/assets/teacher/js/lodash.js"></script>

    <script src="/assets/teacher/js/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/teacher/js/apexcharts/apexcharts.css"></script>
</body>
</html>